h1{text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: black;
font-size: 50px;
text-decoration: underline;}

body{border-style: solid;
border-color: black;
background-color:#AAA738;}

h2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.wrapper>div {
    background-color:darkseagreen;
    padding: 20px}

  .wrapper>div:nth-child(even) {
    background-color:lightsteelblue;}

  .wrapper{display: grid;
    grid-template-columns: 70% 20%;
    grid-gap: 50px;
    padding:20px;
    grid-auto-rows: minmax(100px,auto);} 

img{
    width: 500px;
    height: 300px;
    float: none;
  padding:58px}
p{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

li{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

td a:link{color: antiquewhite;}
td a:visited{color:black;}
td a:hover{color: yellow;}
td a:active{color:chartreuse;}

li:nth-child(even){background-color: bisque;}
