h1{text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 50px;
    text-decoration: underline;}
    
    body{border-style: solid;
    border-color: black;
    background-color: #aaa738;}
    h2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

    .wrapper>div {
    background-color:darkseagreen;
    padding: 20px}

  .wrapper{display: grid;
    grid-template-columns: 100%;
    padding:20px;
    grid-auto-rows: minmax(30px);}

    img{
        width: 550px;
        height: 400px;
        float:inline-start;
      padding: 5px;}
    
    p{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    
    td a:link{color: antiquewhite;}
    td a:visited{color:black;}
    td a:hover{color: yellow;}
    td a:active{color:chartreuse;}
    